header {
    width: 100%;
    border: 1px solid white;
    background-color: #3667C9;
    /* position: fixed; */
}

header nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

header aside {
    display: inline-block;
}

header .logo-aside {
    width: 7%;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

nav .logo-aside img {
    width: 55px;
    height: 25px;
    margin: 5px;
}

header .menu-aside {
    width: 35%;
}

header .menu-aside ul {
    display: flex;
    justify-content: space-around;
}

header .menu-aside li a {
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

header .menu-aside li a:hover {
    color: #C99836;
    transition: 1s;
}

header .menu-aside li .active {
    color: #C99836;
}

header .reg-auth {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

header .reg-auth button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    border-radius: 50px;
    height: 25px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

header .reg-auth button:hover {
    background-color: white;
    color: #C99836;
    transition: 1s;
}

main .faq-text {
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

main .faq-text h1 {
    font-family: 'Roboto', sans-serif;
    color: #C99836;
    font-size: 20px;
    padding: 20px 0px;
}

main .faq-text p {
    color: #73788A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-indent: 50px;
}

main .faq {
    width: 80%;
    margin: auto;
    background-color: white;
}

main .faq h1 {
    font-family: 'Roboto', sans-serif;
    color: #C99836;
    font-size: 20px;
}

main .faq-asides {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.faq-asides .text {
    margin-top: 15px;
}

.faq-asides .text h4 {
    color: #73788A;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    font-weight: bold;
}

.faq-asides .text h4:hover {
    color: #3667C9;
    transition: 1s;
    cursor: pointer;
}

.faq-asides .text p {
    color: #73788A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
}

.faq .animate {
    transform: translateY(150px);
    transition: 1s;
}

.show-animate .animate {
    transform: translateY(0);
}

.faq-asides .left {
    width: 45%;
}

.faq-asides .right {
    width: 45%;
}

main .cant-find {
    width: 250px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .cant-find h1 {
    font-family: 'Roboto', sans-serif;
    color: #C99836;
    font-size: 14px;
    padding: 20px 0px;
}

main .cant-find button {
    background-color: transparent;
    border: 1px solid #3667C9;
    color: #C99836;
    font-size: 13px;
    border-radius: 50px;
    height: 30px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

main .cant-find button:hover {
    background-color: #3667C9;
    color: white;
    transition: 1s;
}

footer {
    background-color: #3667C9;
}

footer .footer-content {
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

footer .footer-content .footer-left {
    width: 50%;
}

footer .logo-aside {
    width: 85px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

footer .logo-aside img {
    width: 55px;
    height: 25px;
    margin: 5px;
}

footer .footer-content .footer-left p {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 19px;
    padding: 17px 0px;
}

footer .footer-content .footer-right {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footer-content .footer-right article p {
    color: #C99836;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    font-weight: bold;
}

.footer-content .footer-right article ul {
    padding: 10px 0px;
}

.footer-content .footer-right article ul a {
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.footer-content .footer-right article ul a:hover {
    color: #C99836;
}

hr {
    width: 80%;
}

footer .copyright {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

footer .copyright .first p {
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

footer .copyright .second ul {
    width: 100px;
    display: flex;
    justify-content: space-between;
} 

footer .copyright .second ul li a {
    color: white;
}

footer .copyright .second ul li a:hover {
    color: #C99836;
}
