header {
    width: 100%;
    border: 1px solid white;
    position: absolute;
}

header nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

header aside {
    display: inline-block;
}

header .logo-aside {
    width: 7%;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

nav .logo-aside img {
    width: 55px;
    height: 25px;
    margin: 5px;
}

header .menu-aside {
    width: 35%;
}

header .menu-aside ul {
    display: flex;
    justify-content: space-around;
}

header .menu-aside li a {
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

header .menu-aside li a:hover {
    color: #C99836;
    transition: 1s;
}

header .menu-aside li .active {
    color: #C99836;
}

header .reg-auth {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

header .reg-auth button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    border-radius: 50px;
    height: 25px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

header .reg-auth button:hover {
    background-color: white;
    color: #C99836;
    transition: 1s;
}

main .banner-area {
    background-color: #3667C9;
}

main .banner-area .banner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
}

main .banner-text {
    width: 60%;
}

main .banner-text h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    padding: 20px 0px;
}

main .banner-text h1:hover {
    color: #C99836;
    transition: 1s;
    cursor: pointer;
}

main .banner-text p {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 19px;
}   

main .banner-img {
    width: 40%;
}

main .banner-img img{
    width: 420px;
    height: 320px;
    float: right;
    border-radius: 50px;
}

main .card-area {
    width: 100%;
}

main .post-cards {
    width: 90%;
    position: absolute;
    top: 440px;
    right: 76px;
    display: flex;
    justify-content: space-between;
}

main .post-card {
    width: 350px;
}

main .post-card img {
    width: 350px;
    height: 270px;
    border-radius: 40px;
}

.post-card .card-content {
    padding: 10px;
}

.post-card .card-content h4 {
    color: #73788A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px;
}

.post-card .card-content h4:hover {
    color: #3667C9;
    transition: 1s;
    cursor: pointer;
}

.post-card .card-content h1:hover {
    color: #3667C9;
    transition: 1s;
    cursor: pointer;
}

.post-card .card-content h1 {
    color: #73788A;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px;
}

.post-card .card-content p {
    color: #73788A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px;
}

main .card-btn {
    width: 200px;
    margin: 500px auto 0px;
}

main .card-btn button {
    background-color: transparent;
    border: 1px solid #3667C9;
    color: #C99836;
    font-size: 13px;
    border-radius: 50px;
    height: 30px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

main .card-btn button:hover {
    background-color: #3667C9;
    color: white;
    transition: 1s;
}

main .slider-section .slider-title {
    width: 200px;
    margin: 50px auto;
}

main .slider-section h1 {
    font-family: 'Roboto', sans-serif;
    color: #C99836;
    font-size: 20px;

}

/* slider styles */

main .card-btn-second {
    width: 200px;
    margin: 50px auto;
}

main .card-btn-second button {
    background-color: transparent;
    border: 1px solid #3667C9;
    color: #C99836;
    font-size: 13px;
    border-radius: 50px;
    height: 30px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

main .card-btn-second button:hover {
    background-color: #3667C9;
    color: white;
    transition: 1s;
}

main .faq {
    width: 90%;
    margin: auto;
}

main .faq h1 {
    font-family: 'Roboto', sans-serif;
    color: #C99836;
    font-size: 20px;
}

main .faq-asides {
    display: flex;
    justify-content: space-between;
}

.faq-asides .text {
    margin-top: 15px;
}

.faq-asides .text h4 {
    color: #73788A;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    font-weight: bold;
}

.faq-asides .text h4:hover {
    color: #3667C9;
    transition: 1s;
    cursor: pointer;
}

.faq-asides .text p {
    color: #73788A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
}

.faq-asides .left {
    width: 45%;
}

.faq-asides .right {
    width: 45%;
}

footer {
    background-color: #3667C9;
}

footer .footer-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

footer .footer-content .footer-left {
    width: 50%;
}

footer .logo-aside {
    width: 85px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

footer .logo-aside img {
    width: 55px;
    height: 25px;
    margin: 5px;
}

footer .footer-content .footer-left p {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 19px;
    padding: 17px 0px;
}

footer .footer-content .footer-right {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footer-content .footer-right article p {
    color: #C99836;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    font-weight: bold;
}

.footer-content .footer-right article ul {
    padding: 10px 0px;
}

.footer-content .footer-right article ul a {
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.footer-content .footer-right article ul a:hover {
    color: #C99836;
}

hr {
    width: 90%;
}

footer .copyright {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

footer .copyright .first p {
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

footer .copyright .second ul {
    width: 100px;
    display: flex;
    justify-content: space-between;
} 

footer .copyright .second ul li a {
    color: white;
}

footer .copyright .second ul li a:hover {
    color: #C99836;
}
