header {
    width: 100%;
    border: 1px solid white;
    background-color: #3667C9;
    /* position: fixed; */
}

header nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

header aside {
    display: inline-block;
}

header .logo-aside {
    width: 7%;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

nav .logo-aside img {
    width: 55px;
    height: 25px;
    margin: 5px;
}

header .menu-aside {
    width: 35%;
}

header .menu-aside ul {
    display: flex;
    justify-content: space-around;
}

header .menu-aside li a {
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

header .menu-aside li a:hover {
    color: #C99836;
    transition: 1s;
}

header .menu-aside li .active {
    color: #C99836;
}

header .reg-auth {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

header .reg-auth button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    border-radius: 50px;
    height: 25px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

header .reg-auth button:hover {
    background-color: white;
    color: #C99836;
    transition: 1s;
}

main .title {
    width: 200px;
    margin: 30px auto;   
}

main .title h1 {
    font-family: 'Roboto', sans-serif;
    color: #C99836;
    font-size: 20px;
}

main .filter h3 {
    color: #3667C9;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 10px;
}

main .filter {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main .filter .left-filter {
    width: 30%;
}

main .filter .right-filter {
    width: 30%;
}

main .filter button {
    margin-right: 20px;
    background-color: transparent;
    background-color: transparent;
    color: #73788A;
    font-size: 13px;
    border: none;
    height: 30px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

main .filter button:hover {
    border: 2px solid #3667C9;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}

main .card-area {
    width: 100%;
}
main .post-cards {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px auto;
}

main .post-card {
    width: 250px;
    margin-bottom: 15px;
}

main .post-card img {
    width: 250px;
    height: 200px;
    border-radius: 40px;
    object-fit: cover;
}

.post-card .card-content {
    padding: 10px;
}

.post-card .card-content h4 a {
    color: #73788A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.post-card .card-content h4 a:hover {
    color: #3667C9;
    transition: 1s;
    cursor: pointer;
}

.post-card .card-content h4 {
    padding: 5px 0px;
}

.post-card .card-content h1 {
    padding: 5px 0px;
}

.post-card .card-content h1 a:hover {
    color: #3667C9;
    transition: 1s;
    cursor: pointer;
}

.post-card .card-content h1 a {
    color: #73788A;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.post-card .card-content p {
    color: #73788A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0px;
}
